
/*============================================================================*\

  Responsive-Portfolio Styles

  TOC
  
    1. Color Pallate
    2. Base Fonts

    Vendor: reset.css
    Credits: 

  @date: Wednesday May 2, 2018 -6:38 PM
  @author: Dylan Burkey


\*============================================================================*/




/// #1 Colors

$c-heading: #4aaaa5;
$c-heading-border: #ccc;
$c-bg-tile: #4aaaa5;
$c-font-color: #777;
$c-base-white: #fff;
$c-footer: #666;
$c-border: #ddd;


/// Base Heading Font Family
$base-heading-font-family: 'Georgia', Times, Times New Roman, serif;

/// Base Font Family
$base-font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 
 /// Base Font Size
$base-font-size: 16px;

 /// Base Line Height
$base-line-height: 24px;

/// Breakpoints
$breakpoints: (
    "sm":           640px,
    "md":           768px,
    "lg":           980px
);
 

/*============================================================================*\

    B. Mixins

    Basic Mixins to make life easier

    @date: Tuesday May 1, 2018 -11:07 PM
    @author: Dylan Burkey


\*============================================================================*/


/**
 *  Media Query Mixin
 *
 *  @date: Tuesday May 1, 2018 - 11:12 PM
 *  @author: Dyan Burkey
 *
 */ 

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

/**
 *  Font Size Mixin
 *  Returns font-size in REM with pixel fallback
 *  calculates the correct line-height for typography
 *
 *  @date: Tuesday May 1, 2018 - 11:19 PM
 *  @author: Dyan Burkey
 *
 */ 

@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}

/**
 *  Opacity Mixin
 *
 *  @date: Tuesday May 1, 2018 - 11:22 PM
 *  @author: Dyan Burkey
 *
 */ 

 @mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
  }

/**
 *  Antialias font-smoothing Mixin
 *
 *  @date: Wednesday May 2, 2018 - 1:30 PM
 *  @author: Dyan Burkey
 *
 */ 

 @mixin antialias {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
 * Box Sizing Mixin
 *
 * @mixin
 *  @param $type
 *      $type can be defined as box-sizing
 *  @example
 *      @include box-sizing;
 *      @include box-sizing(content-box);
 */

 @mixin box-sizing($type: border-box){
    box-sizing: $type;
}


/**
 *  font-size adjustments mixin
 *
 *  @date: Wednesday May 2, 2018 - 6:54 PM
 *  @author: Dyan Burkey
 *
 */ 

 @mixin fluid(){
    clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
 }




 


/*============================================================================*\

  Global Styles

  @date: Wednesday May 2, 2018 -6:48 PM
  @author: Dylan Burkey


\*============================================================================*/


* {
    @include box-sizing;
}

*::before,
*::after {
    @include box-sizing(inherit);
}


body {
    font-family: $base-font-family;
    font-size: 1em;
    line-height: 1.6;
    font-weight: $base-font-weight;
    

}


.app-container {
    margin-left: auto;
    margin-right: auto;
	width: 93.1%;
	padding-left: 2.45%;
	padding-right: 2.45%;
	clear: none;
    float: none;
}


/* 
 Tablet Styles
*/

@include mq(md){
    .app-container {
        width: 90.675%;
	    padding-left: 1.1625%;
	    padding-right: 1.1625%;
	    clear: none;
	    float: none;
	    margin-left: auto;
    }
}

/*
    Desktop Styles
*/

@include mq(lg){
    .app-container{
        width: 88.5%;
        max-width: 980px;
        padding-left: 0.75%;
        padding-right: 0.75%;
        margin: auto;
        clear: none;
        float: none;
        margin-left: auto;
    }
}



