/*============================================================================*
  Responsive-Portfolio Styles

  TOC
  
    1. Color Pallate
    2. Base Fonts

    Vendor: reset.css
    Credits: 

  @date: Wednesday May 2, 2018 -6:38 PM
  @author: Dylan Burkey


\*============================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*============================================================================*
    B. Mixins

    Basic Mixins to make life easier

    @date: Tuesday May 1, 2018 -11:07 PM
    @author: Dylan Burkey


\*============================================================================*/
/**
 *  Media Query Mixin
 *
 *  @date: Tuesday May 1, 2018 - 11:12 PM
 *  @author: Dyan Burkey
 *
 */
/**
 *  Font Size Mixin
 *  Returns font-size in REM with pixel fallback
 *  calculates the correct line-height for typography
 *
 *  @date: Tuesday May 1, 2018 - 11:19 PM
 *  @author: Dyan Burkey
 *
 */
/**
 *  Opacity Mixin
 *
 *  @date: Tuesday May 1, 2018 - 11:22 PM
 *  @author: Dyan Burkey
 *
 */
/**
 *  Antialias font-smoothing Mixin
 *
 *  @date: Wednesday May 2, 2018 - 1:30 PM
 *  @author: Dyan Burkey
 *
 */
/**
 * Box Sizing Mixin
 *
 * @mixin
 *  @param $type
 *      $type can be defined as box-sizing
 *  @example
 *      @include box-sizing;
 *      @include box-sizing(content-box);
 */
/**
 *  font-size adjustments mixin
 *
 *  @date: Wednesday May 2, 2018 - 6:54 PM
 *  @author: Dyan Burkey
 *
 */
/*
  Create Micro Grid Styles
 */
.wrapper,
.row {
  margin: 1em auto;
}

.wrapper::after,
.row::after {
  content: " ";
  clear: both;
  display: block;
}

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Georgia", Times, Times New Roman, serif;
  text-transform: capitalize;
  color: #4aaaa5;
}

.nav-link {
  text-transform: capitalize;
}

/*============================================================================*
  Global Styles

  @date: Wednesday May 2, 2018 -6:48 PM
  @author: Dylan Burkey


\*============================================================================*/
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
}

html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
}

body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.6;
  font-weight: 400;
  background: #999;
}

body::after {
  content: " ";
  clear: both;
  display: block;
}

.alpha {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: 800;
}

.beta {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.site-header {
  background: #fff;
}

.site-header::after {
  content: " ";
  clear: both;
  display: block;
}

.site-logo-container {
  background: #4aaaa5;
  padding-left: 2%;
  padding: 0.75em 0;
}

.primary-site-link {
  color: #fff;
  text-align: center;
  display: block;
}

.intro-header {
  border-bottom: thin solid #777;
}

.intro-header::after {
  content: " ";
  clear: both;
  display: block;
}

.intro-header .beta {
  margin: 0.75em 0;
}

.nav-container {
  line-height: 50px;
  text-align: center;
}

.nav-container::after {
  content: " ";
  clear: both;
  display: block;
}

.nav-container li {
  display: inline;
  border-right: thin solid #ddd;
}

.nav-container li:last-child {
  border-right: none;
}

.nav-link {
  font-size: 16px;
  font-size: 1rem;
  color: #777;
  margin: 0 2%;
  padding: 0 10px;
  font-weight: 400;
  display: inline-block;
}

.nav-link:hover {
  background: #4aaaa5;
  color: #fff;
}

.app-container__wrap::after {
  content: " ";
  clear: both;
  display: block;
}

.reponsive-img {
  max-width: 100%;
  width: 100%;
}

.content-container {
  background: #fff;
  padding: 2%;
  width: 90%;
  margin: 3em auto;
}

.content-container::after {
  content: " ";
  clear: both;
  display: block;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  clear: none;
  float: none;
}

/* 
 Tablet Styles
*/
@media only screen and (min-width: 768px) {
  .app-container {
    width: 90.675%;
    max-width: 768px;
    padding-left: 1.1625%;
    padding-right: 1.1625%;
    clear: none;
    float: none;
    margin-left: auto;
  }
}

/*
    Desktop Styles
*/
@media only screen and (min-width: 980px) {
  .app-container {
    max-width: 980px;
    margin: auto;
    clear: none;
    float: none;
    margin-left: auto;
  }
  .app-container__wrap {
    max-width: 960px;
  }
  .app-container__wrap::after {
    content: " ";
    clear: both;
    display: block;
  }
  .site-logo-container {
    width: 30%;
    float: left;
  }
  .nav-container {
    width: 70%;
    float: right;
    text-align: right;
  }
}
